.Share-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 1em;
}
.Share-buttons img {
  vertical-align: middle;
}
.Share-buttons button:focus, .Share-buttons button:hover {
  outline: none;
  transform: scale(1.25);
}
.Share-buttons button:active {
  transform: scale(.9);
}
