.Columns {
  display: flex;
  font-size: 0.73em;
  flex-flow: row wrap;
  margin-left: -1.5rem;
  text-align: center;
}

.Columns > * {
  flex: 1 1 5em;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
