.Nav {
  padding: 1em 1em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Nav .logo {
  margin-right: 1em;
}

.Nav ul {
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  margin-left: -1em;
  padding: 0;
}

.Nav ul li {
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
}

.Nav a {
  color: white;
  text-decoration: none;
}
