.onlinePeers{
  display: flex;
  flex-direction: none;
  position: relative;
  align-items: center;
  margin: 1em;
}

.onlinePeers--aligned-left{
  margin-left: 0;
}

.onlinePeers-btn{
  border: none;
  font-size: initial;
  font-weight: initial;
  color: #FFF;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.onlinePeers-wrap{
  display: none;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 2px);
  background: #FFF;
  z-index: 1;
  color: #677897;
  width: 12em;
  border: 1px solid #677897;
  border-radius: 4px;
}

.onlinePeers-wrap--active{
  display: flex;
}

.onlinePeers-wrap::before{
  position: absolute;
  left: 1em;
  top: -7px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
}

.onlinePeers-title{
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #677897;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.onlinePeers-list{
  list-style: none;
  padding: 0 1em 1em;
  margin: 0;
  border-radius: 4px;
}

.onlinePeers-item{
  display: flex;
  align-items: center;
}

.onlinePeers-svg{
  margin-left: 0.2em;
}

.onlinePeers-svg-inner{
  display: none;
}

/* desktop */
@media (min-width: 600px){
  .onlinePeers{
    margin: 0 1em;
    align-self: flex-start;
    width: 100%;
  }

  .onlinePeers-wrap{
    display: flex;
    border: none;
    background: inherit;
    color: #FFF;
    position: initial;
    top: initial;
    width: 100%;
  }

  .onlinePeers-count{
    display: none;
  }

  .onlinePeers-wrap::before{
    display: none;
  }

  .onlinePeers-title{
    text-align: left;
    padding-left: unset;
  }

  .onlinePeers-svg{
    margin-right: 0.5em;
  }

  .onlinePeers-svg-inner{
    display: block;
  }

  .onlinePeers-list{
    padding: 0;
  }
}
