.communityGrid{
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 1em;
}

.communityGrid__element{
  padding: 2px;
  border-radius: 4px;
}

.communityGrid__link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.communityGrid__wrap{
  position: relative;
  overflow: hidden;
}

.communityGrid__img{
  width: 100%;
  max-width: 600px;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
}

.communityGrid__meta{
  margin-top: 2px;
  background: #FFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 0.5em 0.5em 0.5em;
}

.communityGrid__caption{
  color: #46569F;
  padding: 0 8px;
  position: relative;
}

.communityGrid__caption::after{
  content: '';
  display: block;
  height: 1px;
  background: #DADADA;
  position: relative;
  top: 0.5em;
  left: -0.5em;
  width: calc(100% + 1em);
}

.communityGrid__metadata{
  color: #677897;
  padding: 0 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.communityGrid__createdAt{
  text-align: right;
  flex: 1;
}

/* desktop */
@media (min-width: 600px){
  .communityGrid{
    grid-template-columns: repeat(auto-fill, 18em);
    grid-column: 1 / 10;
    grid-row: 3;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em 0;
  }
  .communityGrid__caption{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 2.5em;
    font-size: 1.2em;
  }
  .communityGrid__caption::after{
    position: absolute;
    top: 40px;
  }
  .communityGrid__metadata{
    font-size: 0.9em;
  }
  .communityGrid__nickname{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 55%;
  }
  .communityGrid__createdAt{
    width: 45%;
  }
}
