.customize{
  padding: 1em;
  text-align: center;
}

.customize__img{
  box-shadow: 0px 8px 14px rgba(39, 64, 88, 0.4);
  border-radius: 4px;
  margin-bottom: 1em;
  object-fit: cover;
}

.customize__inner{
  background: #FFF;
  color: #46569F;
  border-radius: 4px;
  padding: 1em;
}

.customize__label{
  text-align: left;
  display: block;
  margin: 1em 0;
  max-width: 100%;
  font-weight: bold;
  width: 100%;
}

.customize__span{
  font-weight: normal;
}

.customize__controls{
  margin-top: 2em;
}

.customize__submit{
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .customize{
    display: flex;
  }

  .customize__img{
    margin: 0;
    margin-right: 1em;
  }

  .customize__controls{
    display: flex;
    align-items: flex-start;
    min-width: 18em;
    justify-content: space-between;
  }

  .customize__submit{
    order: 1;
  }
}
