.customize{
  padding: 1em;
  text-align: center;
}

.customize__img{
  box-shadow: 0px 8px 14px rgba(39, 64, 88, 0.4);
  border-radius: 4px;
  margin-bottom: 1em;
  object-fit: cover;
}

.customize__inner{
  background: #FFF;
  color: #46569F;
  border-radius: 4px;
  padding: 1em;
}

.customize__label{
  text-align: left;
  display: block;
  margin-top: 1em;
  max-width: 100%;
  font-weight: bold;
  width: 100%;
}

.customize__span{
  font-weight: normal;
}

.customize__controls{
  margin: auto;
  margin-top: 2em;
  width: 9em;
}

.customize__btn button,
.customize__btn div{
  width: 100%;
}

.customize__btn{
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .customize{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5em;
    text-align: initial;
  }

  .customize__img{
    width: auto;
    height: 100%;
    margin: 0;
  }

  .customize__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-height: 800px) {
    .customize__img{
      min-height: 500px;
    }

    @media (min-width: 1200px) {
      .customize__img{
        min-height: 600px;
      }
    }
  }
}
