.publication__link{
  margin-left: 1.375em;
  display: flex;
}

.publication__title{
  margin-left: 0.5em;
}

.publication__btns{
  margin-top: 1em;
  text-align: center;
}

.publication__save{
  margin-bottom: 1em;
}
