.publication__link{
  margin: 1em 1em 0 1em;
  display: flex;
  background: unset;
}

.publication__link h3{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publication__title{
  margin-left: 0.5em;
}

.publication__btns{
  margin-top: 1em;
  text-align: center;
}

.publication__save{
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .publication__link{
    display: none;
  }

  .publication__modal{
    display: inline-block;
    background: unset;
    text-align: center;
  }

  .publication__btns{
    margin: 2em;
  }
}
