.publication__link{
  margin-left: 1.375em;
  display: flex;
  background: unset;
}

.publication__link h3{
  margin-bottom: 0;
}

.publication__title{
  margin-left: 0.5em;
}

.publication__btns{
  margin-top: 1em;
  text-align: center;
}

.publication__save{
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .publication__link{
    display: none;
  }

  .publication__modal{
    display: inline-block;
    background: unset;
    text-align: center;
  }
}
