.individualGif{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.individualGif__wrap{
  padding: 1em;
}

.individualGif__header{
  text-align: center;
  margin-bottom: 0.5em;
}

.individualGif__message{
  background: transparent;
  padding: 1em;
  text-align: center;
}

/* desktop */
@media (min-width: 600px){
  .individualGif__wrap{
    margin: 0 auto;
  }

  .individualGif__wrap .gif__buttons{
    margin-bottom: 1em;
  }
}
