.communities{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.communities__header{
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.communities__grid{
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.communities__element{
  overflow: hidden;
  height: 300px;
  width: 33.3333333%;
  padding: 10px;
}

.communities__link{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.communities__new{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.communities__title{
  color: #46569F;
}

.communities__message{
  color: #274058;
}

.communities__form{
  display: block;
  width: 85%;
}

.communities__buttons{
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px){
  .communities__form{
    padding-bottom: 2rem;
  }

  .communities__buttons{
    flex-direction: column-reverse;
  }
}
