.communities{
  padding: 1em;
}

.communities__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.communities__wrap{
  display: flex;
  align-items: center;
}

.communities__count{
  display: none;
  margin-right: 0.5em;
}

.communities .communities__new{
  padding: 0.9em;
  font-size: 0.7em;
}

.communities__list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  grid-gap: 1em;
}

.communities__element{
  height: 15em;
}

.communities__link{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.communities__message{
  color: #274058;
}

.communities__buttons{
  margin-top: 1em;
}

.communities__form{
  padding-bottom: 2rem;
}

.communities__button--primary{
  margin-bottom: 0.5em;
}

/* desktop */
@media (min-width: 600px){
  .communities__count{
    display: inline-block;
  }

  .communities .communities__new{
    padding: 1em 3em;
    font-size: 1em;
  }

  .communities__list{
    grid-template-columns: repeat(auto-fill, 16em);
  }

  .communities__form{
    display: block;
    width: 90%;
  }

  .communities__buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .communities__button{
    display: inline-block;
  }

  .communities__button--primary{
    margin-bottom: 0;
  }
}
