# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# use `yarn` to install packages, not `npm`
# and thus ignore any locks accidentally created with npm >= 5
package-lock.json

.env
