.userName__wrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12em;
}

.userName__initial{
  background: #677897;
  color: #FFF;
  border-radius: 50%;
  font-size: 8px;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  top: -3px;
  position: relative;
}
