html {
  background-color: #172B42;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,
    Arial,sans-serif;
  font-weight: 300;
  font-size: calc(.85em + 1vw);
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: 300;
}

a { color: #E75252 }
a:focus, a:hover { color: #00A9E0 }
a:active { color: #06AC4B }

a.muted { color: white; text-decoration: none; }
a.muted .highlight { color: #E75252; text-decoration: underline }
a.muted:focus .highlight, a.muted:hover .highlight { color: #00A9E0 }
a.muted:active .highlight { color: #06AC4B }

img { max-width: 100% }

small { font-size: 0.7em }
