.notFound{
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.notFound__msg{
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .notFound{
    height: 66.666666%;
  }
}
