.userProfile{
  display: flex;
  align-items: center;
  max-width: 8em;
}

.userProfile__img{
  margin-left: 0.5em;
  width: 20px;
  height: 20px;
}

@media (min-width: 600px) {
  .userProfile{
    max-width: unset;
  }
}
