.communityNoContent{
  padding: 1em;
  text-align: center;
}

.communityNoContent__text{
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .communityNoContent{
    height: 66.666666%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}
