.noContent{
  padding: 1em;
  text-align: center;
}

.noContent__text{
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .noContent{
    height: 66.666666%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 42em;
    margin: 0 auto;
  }

  .noContent h2{
    margin: 0.5em 0;
  }
}
