.Filler {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Filler .inner {
  margin: 0 auto;
  padding: 1em;
  max-width: 30em;
}
