.Square.outer {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}

.Square.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
