.GifCreator {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.GifCreator--Explanation {
  margin: 0 auto;
  padding: 1em;
  max-width: 30em;
  width: 100%;
  position: relative;
}
