.GifCreator {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 6em;
}
.GifCreator.arrived {
  background-image: url(../Hero/stars.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;
}

.GifCreator--Explanation {
  margin: 0 auto;
  padding: 1em;
  max-width: 30em;
  width: calc(100% - 2em);
  position: relative;
}
