.app__index{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__header{
  position: sticky;
  top: 0;
  left:0;
  right: 0;
  z-index: 10;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 100%);
  background-color: #102131;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.app__header a{
  background-color: unset;
}

@media (min-width: 600px) {
  .app{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .app__header{
    padding: 1em;
  }
}
