.app{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.app__home{
  position: absolute;
  z-index: 1;
  left: 15px;
  height: 100px;
  display: flex;
  align-items: center;
}

.app__profile{
  position: absolute;
  z-index: 1;
  height: 100px;
  right: 15px;
  display: flex;
  align-items: center;
}

.app__citruslabs{
  position: absolute;
  z-index: 1;
  bottom: 15px;
  right: 15px;
}

.index{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
