.app{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.app__home{
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
}

.app__profile{
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
}

.app__citruslabs{
  position: absolute;
  z-index: 1;
  bottom: 15px;
  right: 15px;
}
