.app{
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
  flex-direction: column;
}

.app__header{
  background-color: #26A65B;
  color: #FFF;
  font-size: 30px;
  padding: 15px;
  box-shadow: 0 0 10px #000;
  z-index: 1;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.app__main{
  position: relative;
  flex: 1;
  overflow: auto;
}

.app__footer{
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 1px solid #CCC;
}
