.firstgif__header{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #CCC;
}

.firstgif__footer{
  background: #EEE;
  padding: 15px;
}

.firstgif__main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.firstgif__message{
  text-align: center;
}

.firstgif__body{
  flex: 1;
  padding: 20px 40px;
}

.firstgif__label{
  display: block;
  font-weight: bold;
  padding: 20px 0;
}
