.Hero {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Hero--PinToTop {
  position: absolute;
  top: 0;
}

/* this is vertically centered by virtue of .Hero's 'flex'-related properties */
.Hero--VerticallyCenter {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 30em;
  text-align: center;
}

.Hero--VerticallyCenter h1 {
  margin-top: 0;
}
