.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFF;
}

.giffer-content{
  flex: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.giffer-controls{
  height: 120px;
  border-top: 1px solid #CCC;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.giffer-btns{
  width: 92px;
  cursor: pointer;
  height: 60px;
  padding: 15px;
  border: 1px solid #CCC;
  align-items: center;
  justify-content: center;
  display: none;
}

.giffer-btns img{
  height: 50px;
}

.giffer-btns-active{
  display: flex;
}

.capture-wrapper{
  display: none;
}

.capture-wrapper-active{
  display: block;
}

.video{
  width: 400px;
  height: 300px;
}

.preview-wrapper{
  display: none;
}

.preview-wrapper-active{
  display: block;
}

.bar-wrapper{
  width: 400px;
  height: 20px;
  border-left: 2px solid #CCC;
  border-right: 2px solid #CCC;
  display: flex;
  align-items: center;
}

.bar{
  width: 100%;
  height: 10px;
  background-color: #4DAF7C;
  border-radius: 2px;
  transform-origin: left;
}

.processing{
  color: #26A65B;
}
