.createGif__wrap{
  background: rgba(16, 33, 49, 0.5);
}

.createGif__controlsTitle{
  background-color: unset;
}

.createGif__controlsButton{
  text-indent: -9999em;
  height: 4em;
  width: 4em;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  position: relative;
  margin-top: unset;
  background: linear-gradient(36.85deg, #F7618B -6.19%, #2A7AFF 135.42%);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px -1px 6px rgba(0, 0, 0, 0.25);
}

.createGif__controlsButton::after{
  display: none;
}

.createGif__controlsButton::before{
  position: absolute;
  left: -1em;
  top: -1em;
  padding: 1em;
  height: 4em;
  width: 4em;
  border: unset;
  border-radius: 50%;
  content: '';
  background: rgba(246, 249, 253, 0.3);
}

.createGif__{}
