.community{
  padding: 0 1.375em;
  display: grid;
  grid-template-columns: repeat(12, auto);
  align-items: center;
}

.community__form{
  grid-row: 2;
  grid-column: 1 / -1;
}

.community__form-syncing{
  font-style: italic;
}

.community__back{
  grid-column: 1 / -1;
}

.community__back h3{
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.community__arrow{
  margin-right: 0.5em;
}

.community__onlinePeers{
  grid-row-start: 3;
}

.community__arrow--right{
  display: none;
  transform: rotate(180deg);
  margin-left: 0.5em;
  margin-right: 1em;
  height: 12px;
  /* odd vertical align fix */
  position: relative;
  top: 1px;
}

.community__title{
  grid-column: 1 / -1;
  grid-row: 2;
}

.community__btns{
  grid-row-start: 3;
  align-items: center;
  margin: 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.community__leave{
  border: none;
  display: flex;
  margin: 0 1em;
  padding: 0;
  cursor: pointer;
}

.community__leave img{
  max-width: unset;
}

.community__leave-label{
  display: none;
  font-family: inherit;
  font-weight: inherit;
  color: rgba(255, 255, 255, 0.8);
  font-size: initial;
  margin-left: 0.5em;
}

.community__size{
  color: rgba(255, 255, 255, 0.7);
  grid-row: 5;
  text-align: right;
  grid-column: 1/-1;
  font-size: 0.9em;
  margin: 0.5em 0.3em;
}

.community__size-syncing{
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}

.community .community__new{
  grid-column: 6 / -1;
  padding: 0.75em 2em;
}

.community__invite-wrap{
  position: relative;
  z-index: 0;
  grid-row: 4;
  grid-column: 1 / -1;
  z-index: 0;
  border-radius: 4px;
  padding: 1px;
  display: flex;
  align-items: center;
}

.community__invite{
  background: #FFF;
  padding: 0.7em 1em;
  padding-left: 97px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-size: initial;
  color: #274058;
  text-overflow: ellipsis;
  border: none;
  margin: 0;
}

.community__invite-wrap::after{
  content: 'Share: ';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 42px;
  z-index: 1;
  color: #9FA6AD;
}

.community__invite-img{
  position: absolute;
  z-index: 1;
  top: calc(50% - 13.5px);
  left: 10px;
  background: unset;
}

.community__content-wrap{
  grid-row: 6;
  grid-column: 1 / 13;
}

.community__spinner{
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

.community__create{
  position: absolute;
  /* header height for mobile */
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: auto;
}

.community__create-onTop{
  top: 0;
  z-index: 12;
}

/* desktop */
@media (min-width: 600px){
  .community{
    grid-template-columns: auto auto auto auto 1fr 1fr auto auto auto;
  }

  .community__back h3{
    font-size: 1em;
    color: #FFF;
    text-transform: unset;
  }

  /* grid positioning */
  /* reset */
  .community__back,
  .community__form,
  .community__onlinePeers,
  .community__btns,
  .community__size,
  .community__new,
  .community__invite-wrap{
    grid-row: unset;
    grid-column: unset;
  }

  /* rows */
  .community__back,
  .community__form,
  .community__onlinePeers,
  .community__btns{
    grid-row: 1;
  }
  .community__size,
  .community__new,
  .community__invite-wrap{
    grid-row: 2;
  }
  .community__content-wrap{
    grid-row: 3;
  }

  /* columns */
  .community__back{
    grid-column: 1;
  }

  .community__form{
    grid-column: 2;
  }

  .community__btns{
    grid-column: 3 / 6;
  }

  .community__onlinePeers{
    grid-row: 1 / 4;
    grid-column: 8;
  }

  .community__invite-wrap{
    grid-column: 1 / 6;
  }

  .community__size{
    grid-column: 6;
  }

  .community .community__new{
    grid-column: 7;
  }

  .community__content-wrap{
    grid-column: 1 / 8;
  }

  /* rest of styles */
  .community__onlinePeers{
    min-width: 13em;
    padding-right: 1em;
  }

  .community__btns{
    justify-self: end;
    margin: 0;
  }

  .community__size{
    justify-self: end;
    padding-right: 1em;
  }

  .community .community__new{
    justify-self: end;
  }

  .community__arrow{
    display: none;
  }

  .community__arrow--right{
    display: inline-block;
  }

  .community__leave-label{
    display: block;
  }

  .community__create{
    /* header height for desktop */
    top: 50px;
  }
}
