.community{
  padding: 0 1.375em;
  display: grid;
  grid-template-columns: repeat(12, auto);
  align-items: center;
}

.community__form{
  grid-row: 2;
  grid-column: 1 / -1;
}

.community__back{
  grid-column: 1 / -1;
}

.community__back h3{
  display: flex;
  align-items: center;
}

.community__arrow{
  margin-right: 0.5em;
}

.community__arrow--right{
  display: none;
  transform: rotate(180deg);
  margin-left: 0.5em;
}

.community__title{
  grid-column: 1 / -1;
  grid-row: 2;
}

.community__btn{
  grid-row-start: 3;
  align-items: center;
  margin: 1em;
}

.community__btn img{
  max-width: unset;
}

.community__leave{
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.community__leave-label{
  display: none;
  font-family: inherit;
  font-weight: inherit;
  color: #FFF;
  font-size: initial;
  margin-left: 0.5em;
}

.community__size{
  grid-column: 11;
}

.community__new{
  grid-column: 12;
  border: none;
}

.community__invite{
  grid-row: 4;
  grid-column: 1 / -1;
  background: #FFF;
  padding: 1em;
  width: 100%;
}

.community__spinner{
  grid-row: 5;
  grid-column: 1 / -1;
  margin: 2em auto;
}

.community__create{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.community__create-onTop{
  z-index: 12;
}

/* desktop */
@media (min-width: 600px){
  .community__arrow{
    display: none;
  }

  .community__arrow--right{
    display: inline-block;
  }

  .community__leave-label{
    display: block;
  }

  /* reset */
  .community__back,
  .community__form,
  .community__leave,
  .community__size,
  .community__new,
  .community__invite{
    grid-row: unset;
    grid-column: unset;
  }

  .community__back,
  .community__name,
  .community__leave{
    grid-row: 1;
  }

  .community__leave{
    grid-column: 6;
    justify-self: end;
  }

  .community__size,
  .community__new,
  .community__invite{
    grid-row: 2;
  }

  .community__invite{
    grid-column: 1 / 7;
  }

  .community__size{
    grid-column: 8;
    justify-self: end;
  }

  .community__new{
    grid-column: 9;
    justify-self: end;
  }

  .community__spinner{
    grid-column: 1 / 10;
    max-width: 60%;
  }
}
