.community{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.community__breadcrumbs{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.community__header{
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
}

.community__controls{
  display: flex;
}

.community__title{
  flex: 1;
}

.community__body{
  flex: 1;
  height: 100%;
  overflow: auto;
}

.nocontent{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 50px;
}

.community__wrap_create{
	background: #FFF;
  height: 100%;
  width: 100%;
	position: absolute;
	z-index: 2;
}
