@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, #root {
  height: 100%;
}

html {
  background-color: #102131;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: calc(.85em + 1vw);
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: rgba(210, 102, 160, .8);
  text-decoration: none;
}

a:focus, a:hover, a:active {
  color: rgba(210, 102, 160, 1)
}
