.camera{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFF;
}

.camera__content{
  flex: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.camera__controls{
  height: 120px;
  border-top: 1px solid #CCC;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
