.Footer {
  background: #071127;
  color: #646f89;
  padding: 1.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
}

.Footer--columns {
  margin-top: -1.5em;
}
.Footer--column {
  margin-top: 1.5em;
}

.Footer--smallColumns {
  display: flex;
  flex-flow: row wrap;
  margin-left: -1em;
}
.Footer--smallColumn {
  flex: 1;
  margin-left: 1em;
}

@media(min-width: 550px) {
  .Footer {
    text-align: left;
  }
  .Footer--columns {
    display: flex;
    justify-content: space-between;
    margin-left: -1em;
  }
  .Footer--column {
    flex: 1;
    margin-left: 1em;
  }
  .Footer--smallColumn {
    flex: 0;
  }
}

.Footer--logoLink {
  color: inherit;
  display: block;
  font-size: 0.7em;
  text-decoration: none;
}
.Footer--logo {
  width: 3.5rem;
}

.Footer--linkList {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  white-space: nowrap;
}
.Footer--linkList a {
  display: block;
}

.Footer--socialList {
  margin-left: -1em;
}
.Footer--socialList li {
  display: inline-block;
  margin-left: 1em;
}
.Footer--socialIcon {
  width: 2em;
  display: block;
}
.Footer--socialIcon:focus, .Footer--socialIcon:hover {
  transform: scale(1.2);
}

.Footer--copyright {
  font-size: 0.7em;
  margin: 2em 0 0;
  text-align: center;
}
