:root {
  --progress: 0%;
  --timeToComplete: 180s;
}

.GifToEarthProgress {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.GifToEarthProgress > div {
  margin: 0 auto;
  padding: 32px 0;
  width: calc(100% - 2em);
  max-width: 30em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.GifToEarthProgress > div.arrived {
  text-align: center;
}
.GifToEarthProgress > div.arrived > span {
  flex: 1;
}
.GifToEarthProgress.sticky {
  position: fixed;
  background: #172B42;
  background: linear-gradient(to bottom, #172B42 0%, #172B42 95%, rgba(22,43,66,0) 100%);
  background-image:
    url(../../../Hero/stars.svg),
    linear-gradient(to bottom, #172B42 0%, #172B42 95%, rgba(22,43,66,0) 100%)
    ;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
}
.GifToEarthProgress + * {
  margin-top: 115px; /* 2 x 32px padding + 51px height of earth */
}
.GifToEarthProgress {
  /* add height so that the "it arrived" message has the right height */
  height: 115px;
}

.GifToEarthProgress .mars {
  height: 27.16px; /* Mars' diameter is 6790km, this is 4x that */
}

.GifToEarthProgress .earth {
  height: 51px; /* Earth's diameter is 12750km, this is 4x that */
}

.GifToEarthProgress--progressBars {
  flex: 1;
  position: relative;
}

.GifToEarthProgress--progressBars .progress {
  height: 3px;
  width: 100%;
}
.GifToEarthProgress--progressBars .progress div {
  height: 3px;
}
.GifToEarthProgress--progressBars .progress {
  background-color: rgba(255,255,255,0.1);
  border-radius: 2px;
}
.GifToEarthProgress--progressBars .progress div {
  border-radius: 2px;
  animation: loadingBar var(--timeToComplete) linear forwards;
}
.GifToEarthProgress--progressBars .progress.fromMars div {
  background-color: #e75252;
}

.GifToEarthProgress .gif {
  line-height: 0;
  position: absolute;
  background-color: #e75252;
  margin-left: -22px;
  top: calc(100% + 11px);
  animation: gifFromMars var(--timeToComplete) linear forwards;
}
.GifToEarthProgress .gif img {
  width: 40px;
  margin: 2px;
  max-width: none; /* override global rule */
}
.GifToEarthProgress .gif:after {
  position: absolute;
  left: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  bottom: 100%;
  border-bottom: 11px solid #e75252;
}

@keyframes loadingBar {
  0% { width: var(--progress) }
  100% { width: 100% }
}
@keyframes gifFromMars {
  0% { left: var(--progress) }
  100% { left: 100% }
}
