:root {
  --progress: 0%;
  --timeToComplete: 180s;
}

.GifToEarthProgress {
  background: #172B42;
  background: linear-gradient(to bottom, #172B42 0%, #172B42 95%, rgba(22,43,66,0) 100%);
  position: sticky;
  top: -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.GifToEarthProgress .mars {
  height: 1.358em; /* Mars' diameter is 6790km, this is 2x that */
}

.GifToEarthProgress .earth {
  height: 2.55em; /* Earth's diameter is 12750km, this is 2x that */
}

.GifToEarthProgress--progressBars {
  flex: 1;
  position: relative;
}

.GifToEarthProgress--progressBars .progress {
  height: 3px;
  width: 100%;
}
.GifToEarthProgress--progressBars .progress div {
  height: 3px;
}
.GifToEarthProgress--progressBars .progress {
  background-color: rgba(255,255,255,0.1);
  border-radius: 2px;
}
.GifToEarthProgress--progressBars .progress.fromEarth {
  margin-bottom: 3px;
}
.GifToEarthProgress--progressBars .progress div {
  border-radius: 2px;
  animation: loadingBar var(--timeToComplete) linear forwards;
}
.GifToEarthProgress--progressBars .progress.fromMars div {
  background-color: #e75252;
}
.GifToEarthProgress--progressBars .progress.fromEarth div {
  background-color: #00A9E0;
  float: right;
}

.GifToEarthProgress .gif {
  line-height: 0;
  position: absolute;
  width: 44px;
}
.GifToEarthProgress .gif.martian {
  background-color: #e75252;
  margin-left: -22px;
  top: calc(100% + 11px);
  animation: gifFromMars var(--timeToComplete) linear forwards;
}
.GifToEarthProgress .gif.terran {
  background-color: #00A9E0;
  bottom: calc(100% + 11px);
  height: 34px;
  font-size: 20px;
  line-height: 34px;
  margin-right: -22px;
  animation: gifFromEarth var(--timeToComplete) linear forwards;
}
.GifToEarthProgress .gif img {
  width: 40px;
  margin: 2px;
}
.GifToEarthProgress .gif:after {
  position: absolute;
  left: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
.GifToEarthProgress .gif.martian:after {
  bottom: 100%;
  border-bottom: 11px solid #e75252;
}
.GifToEarthProgress .gif.terran:after {
  top: 100%;
  border-top: 11px solid #00A9E0;
}

@keyframes loadingBar {
  0% { width: var(--progress) }
  100% { width: 100% }
}
@keyframes gifFromMars {
  0% { left: var(--progress) }
  100% { left: 100% }
}
@keyframes gifFromEarth {
  0% { right: var(--progress) }
  100% { right: 100% }
}
