.card{
  position: relative;
  background-image: url('./placeholder.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.card__favorite{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 42px;
  width: 42px;
}

.card__meta{
  width: 100%;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #46569F;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.5em;
}

.card__extra{
  color: #677897;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: .75em;
}

.card__usage{
  font-size: .65em;
}
