.Carousel-wrap {
  overflow: hidden;
}

.Carousel-slides {
  position: relative;
  display: flex;
  transition: left 0.5s;
}

.Carousel-slides > * {
  flex: 1;
}

.Carousel-dot {
  background-color: #677897;
  border: none;
  border-radius: 5em;
  cursor: pointer;
  height: 1.5em;
  padding: 0;
  text-indent: -999em;
  width: 1.5em;
}

.Carousel-dot + .Carousel-dot {
  margin-left: 3em;
}

.Carousel-dotActive {
  background-color: #F7618B;
}

.Carousel-dot:focus {
  outline: none;
}
