.leave{
  text-align: center;
  padding: 1em;
  color: #102131;
}

.leave h2{
  color: #46569F;
}

.leave__wrap{
  padding: 1em;
  background: #F6F9FD;
  border-radius: 4px;
}

.leave__community{
  color: #F7618B;
}

.leave__msg{
  margin-top: 1em;
}

.leave__btns{
  margin: 0.5em;
  margin-top: 2.5em;
}

.leave__btns div,
.leave__btns button{
  width: 100%;
}


.leave__btn{
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .leave{
    min-width: 500px;
    width: 60%;
    max-width: 700px;
  }

  .leave__wrap{
    padding: 1em 5em 3em 5em;
  }

  .leave__msg{
    text-align: justify;
  }

  .leave__btns{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .leave__btns div,
  .leave__btns button{
    width: auto;
  }

  .leave__btn{
    order: 1;
    margin: 0;
    margin-left: 1em;
  }
}
