.leave{
  text-align: center;
  padding: 1em;
  color: #46569F;
}

.leave__wrap{
  padding: 1em;
  background: #F6F9FD;
  border-radius: 4px;
}

.leave__community{
  color: #F7618B;
}

.leave__msgs{
  margin: 1em 0;
}

.leave__btns{
  margin-top: 2em;
}

.leave__btn{
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .leave{
    min-width: 500px;
    width: 60%;
    max-width: 650px;
  }

  .leave__wrap{
    padding: 1em 3em;
  }

  .leave__btns{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .leave__btn{
    order: 1;
    margin: 0;
    margin-left: 1em;
  }
}
