.app{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header{
  background-color: #26A65B;
  color: #FFF;
  font-size: 30px;
  padding: 15px;
  box-shadow: 0 0 10px #000;
  z-index: 1;
}

.content{
  position: relative;
  flex: 1;
}

.stream-wrapper{}

.giffer-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
}

.giffer-wrapper-active{
  top: 0;
}

.footer{
  height: 120px;
  align-items: center;
  justify-content: center;
  display: none;
  border-top: 1px solid #CCC;
}

.footer-active{
  display: flex;
}

.camera-icon-wrapper{
  cursor: pointer;
  height: 60px;
  padding: 15px;
  border: 1px solid #CCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-icon{
  height: 50px;
}
