.profile{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 38em;
  padding: 1.5em;
  text-align: center;
}

.profile__form{
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile__input{
  width: 100%;
}

.profile__buttons{
  margin-top: 2em;
}

.profile__save{
  margin-bottom: 2em;
}

/* desktop */
@media (min-width: 600px){
  .profile{
    height: 66.666666%;
  }
  .profile__buttons{
    display: flex;
    justify-content: center;
  }

  .profile__save{
    margin-bottom: 0;
    margin-left: 2em;
    order: 2;
  }
}
