.profile{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
}

.profile__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.profile__form h4{
  margin-bottom: 0.5em;
}

.profile__input{
  width: 100%;
}

.profile__buttons{
  text-align: center;
  margin: 2em;
}

.profile__buttons button{
  width: 100%;
  height: 100%;
}

.profile__buttons div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__save{
  margin-bottom: 1em;
}

/* desktop */
@media (min-width: 600px){
  .profile{
    max-width: 42em;
  }

  .profile h2{
    margin: 0.5em 0;
  }

  .profile__form{
    padding: 2em 0;
    width: 400px;
  }

  .profile__buttons{
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .profile__save{
    margin-bottom: 0;
    margin-left: 2em;
    order: 2;
  }
}
