.welcome{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 38em;
  padding: 1.5em;
}

.welcome__arrived{
  text-align: center;
}

.welcome__arrived h1{
  font-weight: normal;
}

.welcome__create{
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
}
