.Welcome {
  text-align: center;
}

.Welcome h1, .Welcome h2 {
  font-size: 1.6em;
  font-weight: 100;
}

.Welcome-top {
  background-image: url(./network.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;

  padding: 0.5em 1em;
  position: relative;
}

/* hacks to fix our `* { background-color: inherit }` hack :( */
.Welcome-top header, .Welcome-top div, .Welcome-top h1, .Welcome-top h2,
.Welcome-top p, .Welcome-top ol, .Welcome-top li, .Welcome-top strong {
  background-color: transparent;
}

.Welcome-bgGifs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Welcome-bgGifs div {
  line-height: 0;
  opacity: 0.5;
}

.Welcome-bgGifs div::after {
  background-image: linear-gradient(rgba(247, 97, 139, 0.4), rgba(42, 122, 255, 0.4));
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Welcome-bgGifs div:first-child {
  position: absolute;
  right: 0;
  top: 0;
  width: 8rem;
}

.Welcome-bgGifs div:nth-child(2) {
  position: absolute;
  right: 8.1rem;
  top: 5rem;
  width: 4rem;
}

.Welcome-header {
  text-align: left;
}

.Welcome-lead {
  padding-top: 5rem;
}

.Welcome-bigDeal {
  margin-top: 2.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.Welcome-keyPoints {
  padding: 0;
  list-style: none;
}

.Welcome-keyPoints li {
  padding-bottom: 0.1em;
}

.Welcome-whyGifs {
  background-image: linear-gradient(100deg, #205096, #83425E);
  padding: 2.5rem 2rem 1rem;
}

/* hacks to get around the `* { background-color: inherit }` hack :( */
.Welcome-whyGifs * {
  background-color: transparent;
}

.Welcome-nobreak {
  white-space: nowrap;
}

.Welcome-howItWorks {
  padding-top: 1rem;
}

.Welcome-slide {
  display: flex;
  flex-direction: column;
}

.Welcome-slide p {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.Welcome-slide img {
  flex: 1;
  margin-bottom: 1em;
}

.Welcome-bottom {
  padding: 2rem;
}
