.gif__loading{
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.gif__wrap{
  border-radius: 4px;
  padding: 1em;
}

.gif__img-wrap{
  position: relative;
  overflow: hidden;
  box-shadow: 0px 8px 14px rgba(39, 64, 88, 0.4);
  margin-bottom: 1em;
  border-radius: 4px;
}

.gif__img{
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
}

.gif__share{
  margin-top: 60px;
}

.gif__inner{
  padding: 1em;
  background: #F6F9FD;
  border-radius: 4px;
  color: #46569F;
  box-shadow: 0px 8px 14px rgba(39, 64, 88, 0.4);
  display: flex;
  flex-direction: column;
}

.gif__subtitle{
  margin: 0.5em 0 0 0;
}

.gif__inner .editable{
  max-height: 8em;
  overflow: auto;
  padding: .4em 0 .6em 0;
}

.gif__buttons{
  display: flex;
  text-align: center;
  justify-content: center;
  background: unset;
}

.gif__button{
  cursor: pointer;
  border: none;
}

.gif__invite-wrap{
  position: relative;
  z-index: 0;
  grid-row: 4;
  grid-column: 1 / -1;
  z-index: 0;
  border-radius: 4px;
  padding: 1px;
  display: flex;
  align-items: center;
}

.gif__invite{
  background: #FFF;
  padding: 0.7em 1em;
  padding-left: 2.5em;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-size: initial;
  color: #274058;
  text-overflow: ellipsis;
  border: none;
  margin: 0;
}

.gif__invite-img{
  position: absolute;
  z-index: 1;
  top: 0;
  background: unset;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.6em;
}


@media (min-width: 600px){
  .gif__wrap{
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5em;
    justify-content: center;
    text-align: initial;
  }

  .gif__img-wrap{
    margin: 0;
  }

  .gif__img{
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .gif__img--safari{
    height: unset;
  }

  .gif__inner{
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
  }

  @media (min-height: 600px) {
    .gif__img{
      min-height: 500px;
    }

    .gif__inner{
      max-height: 500px;
    }
  }

  @media (min-height: 800px) and (min-width: 1100px) {
    .gif__img{
      min-height: 600px;
    }
    .gif__inner{
      max-height: 600px;
    }
  }
}
